body{
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
header{
  width: 100%;
  height: 70px;
  background-color: #282828;
  position: fixed;
}
h1{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-family: 'Alfa Slab One', cursive;
  color: #e38f3b;
}
span{
  color: #f2f2f2;
}
ul{
  width: auto;
  float: right;
  margin-top: 8px;
}
li{
  display: inline-block;
  padding: 15px 30px;
}
a{
  text-align: center;
  color: #f2f2f2;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
a:hover{
  color: #e38f3b;
  transition: 0.7s;
}
#img1{
  width: 70%;
  float: left;
  margin-top: 70px;
  margin-right: 0%;
}
#img2{
  width: 70%;
  float: right;
  margin-left: 100%;
}
/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #888;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e38f3b;
  border-radius: 10px;
  transition: 1s;
}
* {
  box-sizing: border-box;
}
/*Contact*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Open Sans', sans-serif;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  padding-top: 70px;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.main{
  padding-top: 70px;
  margin-bottom: 0;
}
* {
  box-sizing: border-box;
}
i{
  padding: 500px;
  color: blue;
}
